@import "tailwindcss";

@layer theme {
  :root,:host {
    --animate-fade-in: fade-in .5s linear forwards;
    --animate-spin-slow: spin 4s linear infinite;
    --animate-spin-slower: spin 6s linear infinite;
    --animate-spin-reverse-slower: spin-reverse 6s linear infinite;
  }
}

@layer base {
  html {
    @apply antialiased bg-gray-50;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: var(--animate-fade-in)
  }

  .animate-marquee {
    animation: marquee var(--marquee-duration)linear infinite
  }

  .animate-spin-reverse-slower {
    animation: var(--animate-spin-reverse-slower)
  }

  .animate-spin-slow {
    animation: var(--animate-spin-slow)
  }

  .animate-spin-slower {
    animation: var(--animate-spin-slower)
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  to { opacity: 1; }
}

@keyframes spin-reverse {
  to { transform: rotate(-360deg); }
}

@keyframes marquee {
  to { transform: translateY(-50%); }
}
