---
---

<section class="py-32 px-6 md:px-8" id="journal">
  <div class="max-w-7xl mx-auto">
    <div class="bg-primary-container rounded-xl p-16 md:p-24 flex flex-col items-center text-center space-y-10 relative overflow-hidden">
      <div class="absolute top-0 left-0 w-full h-full opacity-10 pointer-events-none">
        <div class="absolute top-0 right-0 w-96 h-96 bg-white blur-[150px]"></div>
      </div>
      <h2 class="font-serif text-5xl md:text-7xl font-extrabold text-on-primary-container tracking-tighter leading-none z-10">
        Ready for financial <br />serenity?
      </h2>
      <p class="text-on-primary-container/80 text-xl max-w-xl z-10 font-light">
        Join 50,000+ individuals who have found a better way to relate to their wealth.
      </p>
      <div class="flex flex-col sm:flex-row gap-6 z-10">
        <a href="#" class="transition-transform hover:scale-105">
          <img
            alt="Get it on Google Play"
            class="h-12"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCKdsVpWUF_-oR_wELTl1cF6s2VkCwve8HZuoo27AQ7EuILGxdW7nOfAAhRAgsI_Ju4ppGGsFz4WDKDTJ_Wz-Wlpv6JBjUi-G4yVCujhUztFdhsE3aeoBr93R6us2pGvlLRkAFv2uqdBia0nJSlKKAk6zUW-jZUSkJOrTroAnXf7l2gauTbRBCVrGHu34bccrNw8sVtQYH7QYCtGq_3Y9NC2Z3B65FoqpmUXx3oqM31CrDePEFwGKFVnZS9KnlsssLZ2AwxZYTpJeQ"
            referrerPolicy="no-referrer"
          />
        </a>
        <a href="#" class="transition-transform hover:scale-105">
          <img
            alt="Download on the App Store"
            class="h-12"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuD_3j49xeJCyBvldcswG74G-GuJyMrekzUxu5v5VLE5VpY4UqgT4EBOZurr1I5Bl36erqLo1jiHJpAAABZYeYjCKvv03tc3tG_mkc9FC-_LIDb_6fXUuVUSryZugJpaRCnleW7puRBMQn_loA6T2ud4QNLlnGnFzNa_uCcH6nGtPE80l5ka50OVF8zfzVBGvhzTD9JuFBPd--zA669QevNfBpEOM-cyf6csdxmxDr13pWamH6bWqYCNVcxN9swwf6dZDzChCvdbEtE"
            referrerPolicy="no-referrer"
          />
        </a>
      </div>
    </div>
  </div>
</section>
