---
---

<header>
  <nav>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative z-50 flex justify-between py-8">
      <div class="relative z-10 flex items-center gap-16"><a aria-label="Home" href="/" class="text-xl font-black">
        Spendful
      </a>
        <div class="hidden lg:flex lg:gap-10"><a
          class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 transition-colors delay-150 hover:text-gray-900 hover:delay-0"
          href="/#features"><span class="relative z-10">Features</span></a><a
          class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 transition-colors delay-150 hover:text-gray-900 hover:delay-0"
          href="/#reviews"><span class="relative z-10">Reviews</span></a><a
          class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 transition-colors delay-150 hover:text-gray-900 hover:delay-0"
          href="/#pricing"><span class="relative z-10">Pricing</span></a><a
          class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 transition-colors delay-150 hover:text-gray-900 hover:delay-0"
          href="/#faqs"><span class="relative z-10">FAQs</span></a></div>
      </div>
      <div class="flex items-center gap-6">
        <div class="lg:hidden" data-headlessui-state="">
          <button
            class="relative z-10 -m-2 inline-flex items-center rounded-lg stroke-gray-900 p-2 hover:bg-gray-200/50 hover:stroke-gray-600 focus:not-data-focus:outline-hidden active:stroke-gray-900"
            aria-label="Toggle site navigation" type="button" aria-expanded="false" data-headlessui-state=""
            id="headlessui-popover-button-_R_1mpivb_">
            <svg viewBox="0 0 24 24" fill="none" aria-hidden="true" class="h-6 w-6">
              <path d="M5 6h14M5 18h14M5 12h14" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="flex items-center gap-6 max-lg:hidden"><a
          class="inline-flex justify-center rounded-lg py-2 px-3 text-sm font-semibold transition-colors bg-gray-800 text-white hover:bg-gray-900 active:bg-gray-800 active:text-white/80"
          href="#">Download</a></div>
      </div>
    </div>
  </nav>
</header>
