---
import Layout from '@/layouts/main.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description} minimal>
  <section class="min-h-screen pt-32 pb-24 sm:pt-40">
    <div class="container typo text-on-surface-variant typo-headings:text-primary typo-headings:font-serif typo-headings:italic typo-strong:text-on-surface-variant typo-a:text-primary typo-blockquote:text-primary">
      <h1 class="mb-16 text-center">{frontmatter.title}</h1>
      <slot />
    </div>
  </section>
</Layout>
